html,
body,
main
 {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  width: 100%;
}

.nav {
  padding-left: 43%;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  margin: 0 0 10px 0;
  text-align: center;
}

#hide-markers,
#show-markers {
  width: 48%;
}


#map {
  bottom:0px;
  height: 100%;
  width: 100%
}

main {
  width: 100%;
  position: absolute;
  right: 0px;
  z-index: 1;
}

aside {
  position: absolute;
  z-index: 2;
  left: 75%;
}

.options-box {
  background: #fff;

  text-align: left;
}

#pano {
  width: 200px;
  height: 200px;
}



.text {
  font-size: 12px;
}

#nav-toggle {
  z-index: 3;
  position: absolute;
}

#zoom-to-area-text {
  /*width: 100%;*/
}

#zoom-to-area {
  /*width: 90%;*/
}
